<form
  action=""
  class="flex p-8 text-center gap-4 uppercase tracking-wider font-semibold"
>
  <div class="day flex flex-col">
    <label class="text-gray-500" for="day">Day</label>
    <input
      class="border max-w-20 p-2 rounded-lg"
      type="number"
      name="day"
      id="day"
      [min]="1"
    />
  </div>
  <div class="month flex flex-col">
    <label class="text-gray-500" for="month">Month</label>
    <input
      class="border max-w-20 p-2 rounded-lg"
      type="number"
      name="month"
      id="month"
      min="1"
      max="12"
    />
  </div>
  <div class="year flex flex-col">
    <label class="text-gray-500" for="year">year</label>
    <input
      class="border max-w-20 p-2 rounded-lg"
      type="number"
      name="year"
      id="year"
      min="1900"
    />
  </div>
</form>
